body {
  margin: 0;
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  background-image: url("../images/movie/background.png")
}

#header  {
    text-align: center;
    background-image: url("../images/movie/bannerbg.png");
    background-repeat: repeat-x;
}

h1 {
  font-size: 24pt;
  font-family: Tahoma, Verdana, serif;
  text-shadow: 3px 3px #999999;
  text-align: center;
}

.container {
  max-width: 800px;
  margin:auto;
  border: 4px solid gray;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 550px auto;

}

#overall {
  max-width: 550px;
  /* float: left; */
}

#review {
  clear: both;

}
#overall .overall{
  background-image: url('../images/movie/rbg.png');
  background-repeat: repeat-x;
  width: 100%;
}
#general {
  background-color: #A2B964;
  /* float: right; */
  width: 250px;
}

#general dl dt{
    margin-top: 10pt;
    font-weight: bold;
}
#link {
  list-style: none;
  padding: 0px;
}
#pagination {
  text-align: center;
  background-color: #A2B964;
  position: relative;
  bottom: -66px;
  padding: 7px;
}

#general dl {
  padding-left: 10px;
  font-size: 8pt;
  font-family: Arial, sans-serif;
}
.review .comment{
   background-color:#E8DC9B;
   border: 2px solid gray;
   border-radius: 10px;
   font-size: 8pt;
   padding: 8px;
   font-weight: bold;
}

.review .comment, .review .person {
  max-width: 243px;
  overflow: hidden;
}
.review .comment img, .review .person img{
  float: left;
  margin-right: 5px;
}
.review {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  padding-left: 10px;
  padding-right: 10px;
}
.overall span {
  display: inline-block;
  font-size: 48pt;
  color: red;
  font-weight: bold;
    vertical-align:top;
  }
  #footer {
    float: right;
  }
