body{
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;
  background-image: url("../images/recipeImages/silverware.jpg");
  background-attachment: fixed;
}
ol > li > ul {
  list-style-type: circle;
}
.direction_hearder {
  font-weight: bold;
}
h1 {
  color: #A4A400;
  font-family: Lucida Sans Unicode, Helvetica, Arial, serif;
  font-size: 18pt;
  letter-spacing: 0.25em;
}
h1 span {
  background-color: #F0F0F0;
}
a {
  color: #A4A400;
}
.main-heading {
  text-align: center;
  font-size: 22pt;
}
.cake {
  text-decoration: line-through;
}
.footer {
   float:right;
   font-family: monospace;
   text-align: left;
}
.footer a {
  text-align: right;
}

.comment {
   background-color: yellow;
   font-style: italic;
}
.ingredient {
  list-style-image: url('../images/recipeImages/pie_icon.gif');
}
